@media (max-width: 499px)
  .course-block
    display: flex
    flex-direction: column
    gap: 20px
    align-items: center

  .course-img
    width: 300px
    height: 300px
    object-fit: cover

  .course-link-text
    color: black

    &:hover
      color: #ac0606

@media (min-width: 500px) and (max-width: 999px)
  .course-block
    display: flex
    flex-direction: colomn
    gap: 20px

  .course-img
    width: 350px
    height: 300px
    object-fit: cover

  .course-link-text
    color: black

    &:hover
      color: #ac0606

@media (min-width: 1000px)
  .course-block
    display: flex
    flex-direction: row
    gap: 20px

  .course-img
    width: 350px
    height: 300px
    object-fit: cover

  .course-link-text
    color: black

    &:hover
      color: #ac0606
  


.course-content
  display: flex
  flex-direction: column
  gap: 40px
  padding-top: 20px
  align-items: center

.course-block-right
  display: flex
  flex-direction: column
  gap: 10px

.course-link
  font-weight: 550




.course-text
  font-weight: 600

.cource-title
  display: flex
  justify-content: center

.course-button 
  display: flex
  border-radius: 20px
  cursor: pointer
  background-color: #ec6327
  color: #fff
  width: 130px
  justify-content: center
  align-items: center
  height: 25px
  font-size: 12px
  font-weight: bold

.course-list
  display: flex
  flex-direction: column

