.courseCreate-img
  width: 100px

input[type="file"] 
 display: none 

.courseCreate-button 
  display: flex
  border-radius: 20px
  cursor: pointer
  background-color: #ec6327
  color: #fff
  width: 130px
  justify-content: center
  align-items: center
  height: 25px
  font-size: 12px
  font-weight: bold