.welcompage-content
  display: flex
  flex-direction: column

.welcompage-big-img   
  background-image: url(../images/welcome.jpg)
  background-position: absolute
  background-repeat: no-repeat
  background-size: cover
  background-position: 50%
  min-height: 100vh
  width: 100%